.places {
    font-size: 30px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
}

article {
    justify-content: center;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px #ff5a5f solid;
    border-radius: 4px;
    align-items: center;
    text-align: center;

}

article h2 {
    font-size: 30px;
}

h1 {
    width: 100%;
    margin-bottom: 0px;
}